@import "../../../../styles/colors";

.matchCard {
  margin-bottom: 30px;
}

.matchDate {
  font-size: 10px;
  color: $ligthText;
  margin: 0;
  text-align: right;
}

.tableAvatar {
  width: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 0;
  background: $menda;
  box-sizing: border-box;
  padding: 2px;
}

.positionIcon {
  width: 30px;
  position: relative;
  display: block;
  margin: 0 auto;
}

table {
  width: 100%;
}

td.mat-cell:first-child,
td.mat-footer-cell:first-child,
th.mat-header-cell:first-child {
  padding-left: 0;
}

td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
  padding-right: 0;
}
