<h1 class="playerName" mat-dialog-title>Game Over</h1>
<div mat-dialog-content>
  <ul class="losers">
    <li *ngFor="let loser of data.losers">
      <img class="avatar" [src]="loser.avatar">
      <p>{{loser.name}}</p>
    </li>
  </ul>
  <p class="beers">
    x
    <span>{{data.beers}}</span>
  </p>
  <ul class="winners">
    <li *ngFor="let winner of data.winners">
      <img class="avatar" [src]="winner.avatar">
      <p>{{winner.name}}</p>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button class="back" mat-raised-button (click)="onNoClick()" color="warn">
    <i class="material-icons">
      clear
    </i>
  </button>
  <button mat-raised-button mat-dialog-close="rematch" color="primary" cdkFocusInitial>
    Rematch
  </button>
  <button mat-raised-button mat-dialog-close="config" color="primary" cdkFocusInitial>
    New config
  </button>
</div>