<h1 class="playerName" mat-dialog-title>Game Over</h1>
<div mat-dialog-content>
  <ul class="losers">
    <li *ngFor="let loser of data.losers">
      <img class="avatar" [src]="loser.avatarUrl" [ngStyle]="{'background' : loser.color}">
      <p>{{loser.name}}</p>
    </li>
  </ul>
  <p class="beers">
    x
    <span>{{data.beers}}</span>
  </p>
  <ul class="winners">
    <li *ngFor="let winner of data.winners">
      <img class="avatar" [src]="winner.avatarUrl" [ngStyle]="{'background' : winner.color}">
      <p>{{winner.name}}</p>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="warn">
    Cancel
  </button>
  <button mat-raised-button mat-dialog-close="endGame" color="primary" cdkFocusInitial>
    End Game
  </button>
</div>